<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552666854253-rlc5u3qe99hf35rtig5vtu0g6mcg4oc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552666854253-rlc5u3qe99hf35rtig5vtu0g6mcg4oc5</string>
	<key>API_KEY</key>
	<string>AIzaSyC5X-7UyI9b1Dac6BErQhEMaGQnSbkQVXY</string>
	<key>GCM_SENDER_ID</key>
	<string>552666854253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.hgnl.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-39e66</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-39e66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:552666854253:ios:dcfe7210daeb91c6eb2064</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-39e66.firebaseio.com</string>
</dict>
</plist>
